@model RestartMVC.Models.tbldisplay

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />

    @section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    
    <script type="text/javascript">
        $(function () {
            $("input:text.date").datepicker(
            {
                dateFormat: "dd/mm/yy"
            });
        });
    </script>
    }
    @using (@Html.BeginForm())
    {
        @Html.EditorForModel()
        <br />
        
        <br />
        <input type="submit" value="submit" />
    }
</div>
