@model RestartMVC.Models.CitiesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{    @*@Html.ListBoxFor(m => m.Cities, Model.Name, new { size = 4 })*@
    
    <br />
    <input type="submit" value="submit" />
}