
@{
    Layout = null;
}

<h1>employr controller</h1>

<table border="1">
    <tr>
        <td>
            @Html.ActionLink("Main Area Home page", "Index", "Home", new { area = "" },null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Employee Area Home page", "Index", "Home", new { area = "Employee" }, null)


        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Employr Area Home page", "Index", "Home", new { area = "Employr" }, null)


        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Admin Area Home page", "Index", "Home", new { area = "Admin" }, null)




        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>