@model layout.Models.tblEmployee

<tr>
    <td>
        <input type="checkbox" name="EmployeesstoDelete" id="EmployeesstoDelete" value="@Model.Id" />
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Gender
    </td>
    <td>
        @Model.DeptName
    </td>
</tr>
