
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DifferentLayout</title>
</head>
<body>
    <div> 
        <h3>Different layour</h3>
        @RenderBody()
    </div>
</body>
</html>
